<h4 class='d-flex justify-content-between mb-4 m-4'>
  <span class="text-ripple"> Posts </span>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <%= link_to 'New Post', new_post_path, class:"btn btn-primary"%>
</h4>

<% @posts.each do |post|%>
  <div class='card mb-3 m-3 post ripple'>
    <div class='card-body post ripple'>
      <div class= "row">
        <div class= 'col-md-2'>
          <% if post.header_image.present? %>
            <%= link_to edit_post_path(post), class: 'text-decoration-none' do %>
            <div class= 'header-img' style="background-image: url(<%= url_for(post.header_image) %>);"></div>
            <% end %>
          <% end %>
        </div>

        <div class= 'col-md-9'>
          <%= link_to edit_post_path(post), class: 'text-decoration-none' do %>
            <h5 class='card-title text-dark'><%= post.title %></h5>
            <p class= 'text-secondary'><%= post.description %></p>
          <% end %>
        </div>
        <div class="col-md-1">
          <%= button_to image_tag("delete.png"), post_path(post), method: :delete, class: "btn btn-light btn-sm float-end position-top vertical-align-middle", data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<body class='bg-light'></body>


